{# recuperar_senha_escolher.html #}
{% if msg %}
<div style="background-color:red;">
    {{ msg }}
</div>
{% endif %}
<form action="recuperar_senha_escolher.php" method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <div>
        Digita a senha nova aí. E não vai errar...
    </div>
    <div>
        <input type="password" name="senha" id="senha">
        <input type="password" name="senha_confirma" id="senha_confirma">
        <input type="button" id="olho" value="👁️">
    </div>
    <input type="submit" value="Gravar">
</form>

<script src="js/olho.js"></script>