{# usuario_apagar.html #}
{% include "inc/head.html" %}

<h1>Apagar usuário</h1>

<p>Tem certeza de que quer fazer isso?</p>
<p>Nunca mais será possível recuperar este usuário 😮</p>

<p><strong>Você está prestes a apagar o coitado do {{ usuario.username }}</strong></p>

<form action="#" method="post">
    <input type="hidden" name="id" value="{{ usuario.id }}">
    <input type="submit" value="Apagar o dito cujo">
</form>

<div><a href="usuarios.php">Cancelar</a></div>

{% include "inc/foot.html" %}